.button:hover {
	color: white;
	cursor: pointer;
	filter: blur(1px);
	font-size: 16px;
}

.winnerButton:hover {
	background-color: darkgreen;
	cursor: pointer;
	transform: translate(-5px, 5px);
	border: 4px solid greenyellow;
}